$primaryColor: #0378a6; // Deep Blue
$secondaryColor: #d9ce9a; // Warm Yellow
$accentColor: #4f8c8c; // Coral Red for extra contrast
$lightBlue: #c5edee; // Light Blue Background
$darkGrey: #333; // Text Color

$defaultFont: "Poppins", sans-serif;
$headingFont: "Merriweather", serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 16px;
